<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới Thiệu CinemaHCMUT - Hệ Thống Đặt Vé Xem Phim Hàng Đầu</title>
    <meta name="description" content="Tìm hiểu về CinemaHCMUT – nền tảng đặt vé xem phim trực tuyến, kết nối hàng trăm rạp chiếu trên toàn quốc với trải nghiệm người dùng tuyệt vời.
    ">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/assets/styles/global.css">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app.css">


    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app-dark.css">
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
          body {
            color: #5a5a5a;
          }
          .carousel {
            margin-bottom: 4rem;
          }
  
          .carousel-caption {
            bottom: 3rem;
            z-index: 10;
          }
  
          .carousel-item {
            height: 32rem;
          }
          .carousel-item > img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 32rem;
          }
          .marketing .col-lg-4 {
            margin-bottom: 1.5rem;
            text-align: center;
          }
          .marketing h2 {
            font-weight: 400;
          }
  
          .marketing .col-lg-4 p {
            margin-right: .75rem;
            margin-left: .75rem;
          }
          @media (min-width: 40em) {
            .carousel-caption p {
              margin-bottom: 1.25rem;
              font-size: 1.25rem;
              line-height: 1.4;
            }
          }
      </style>
</head>


<body>

    <div id="app">

        <div id="header"></div>
        <script type="module" src="http://localhost/CO3049_assignment/public/components/header.js"></script>
        <main class='page-content container-lg h-100'>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                  <img src="https://img.freepik.com/free-photo/composition-cinema-elements-beige-background-with-copy-space_23-2148416816.jpg?ga=GA1.1.1042502627.1746610443&semt=ais_hybrid&w=740" class="d-block w-100" alt="...">
                  <div class="container">
                    <div class="carousel-caption text-start">
                      <h1>Quy Định Chung</h1>
                      <p>vui lòng tham khảo và chắc chắn rằng bạn đã hiểu rõ Điều Khoản Chung để hiểu rõ quyền lợi và nghĩa vụ của mình trong tương quan với CGV Việt Nam.</p>
                      <p><a class="btn btn-lg btn-primary" href="#">Xem Chi Tiết</a></p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                  <img src="https://img.freepik.com/free-psd/3d-cinema-blank-banner-background_23-2150822406.jpg?ga=GA1.1.1042502627.1746610443&semt=ais_hybrid&w=740" class="d-block w-100" alt="...">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Chính sách bảo mật</h1>
                      <p>Chúng tôi xử lý dữ liệu cá nhân từ bạn với mục đích đúng đắn, tuân thủ yêu cầu của pháp luật hay các mục đích khác được nêu tại Chính Sách Bảo Mật Thông Tin này.</p>
                      <p><a class="btn btn-lg btn-primary" href="#">Xem Chi Tiết</a></p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                  <img src="https://img.freepik.com/free-psd/3d-cinema-blank-banner-background_23-2151106376.jpg?ga=GA1.1.1042502627.1746610443&semt=ais_hybrid&w=740" class="d-block w-100" alt="...">
                  <div class="container">
                    <div class="carousel-caption text-end">
                      <h1>Điều khoản sử dụng</h1>
                      <p>Chào mừng đến với trang web đặt vé xem phim, để hiểu rõ hơn cách sử dụng mời bạn xem chi tiết</p>
                      <p><a class="btn btn-lg btn-primary" href="#">xem chi tiết</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          
            <div class="container marketing  border-top border-bottom border-white">
              <h1 class="my-5 text-center">Out Team</h1>
              <div class="row my-5">
                <div class="col-lg-4">
                  <img class="bd-placeholder-img rounded-circle" style='width:140px;height:140px;' src="https://img.pikbest.com/png-images/20240819/3d-avatar-illustration-of-a-man-with-glasses-and-beard_10644301.png!w700wp" alt="">
                  <h2 class="my-3">Giáo viên hướng dẫn</h2>
                  <p>Họ và tên: Nguyễn Hữu Hiếu</p>
                  <p>MSGV: xxxxxxx</p>
                  <p>Số Điện THoại: xxxxxxx-xxxx</p>
                  <p>Email liên lạc: xxxxxxx-xxxx</p>
                  <p>Địa Chỉ: xxxxxxx-xxxx</p>
                  <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" style='width:140px;height:140px;' 
                    src="https://cdn3d.iconscout.com/3d/premium/thumb/man-avatar-3d-icon-download-in-png-blend-fbx-gltf-file-formats--men-people-male-pack-avatars-icons-5187871.png?f=webp" alt="">
          
                  <h2 class="my-3">Leader</h2>
                  <p>Họ và tên: Nguyễn Hữu Kha</p>
                  <p>MSSV: xxxxxxx</p>
                  <p>Số Điện THoại: xxxxxxx-xxxx</p>
                  <p>Email liên lạc: xxxxxxx-xxxx</p>
                  <p>Địa Chỉ: xxxxxxx-xxxx</p>
                  <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" style='width:140px;height:140px;' 
                    src="https://cdn3d.iconscout.com/3d/premium/thumb/avatar-3d-icon-download-in-png-blend-fbx-gltf-file-formats--user-person-profile-contact-us-pack-tech-support-icons-5523018.png?f=webp" alt="">
          
                  <h2 class="my-3">Member</h2>
                  <p>Họ và tên: Nguyễn Đình Huy Hoàng</p>
                  <p>MSSV: xxxxxxx</p>
                  <p>Số Điện THoại: xxxxxxx-xxxx</p>
                  <p>Email liên lạc: xxxxxxx-xxxx</p>
                  <p>Địa Chỉ: xxxxxxx-xxxx</p>
                  <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                </div>
              </div>
            </div>
            <!-- Footer -->
            <div id="footer"></div>
            <script type="module" src="http://localhost/CO3049_assignment/public/components/footer.js"></script>
          </main>
    </div>
    <div id="toggleDark"></div>
    <script type="module" src="http://localhost/CO3049_assignment/public/components/toggleDark.js"></script>
    <script>
    </script>
</body>

<script src="http://localhost/CO3049_assignment/public/mazor/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/compiled/js/app.js" defer></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/static/js/components/dark.js"></script>
<script src="http://localhost/CO3049_assignment/public/assets/pages/main/about.js" defer></script>

</html>