<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Vé Xem Phim Online - Chọn Ghế, Suất Chiếu Dễ Dàng | CinemaHCMUT</title>
    <meta name="description" content="Chọn phim, suất chiếu và chỗ ngồi yêu thích. Đặt vé xem phim online an toàn, nhanh chóng chỉ trong 3 bước tại CinemaHCMUT.
    ">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/assets/styles/global.css">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/assets/styles/seats.css">


    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app.css">


    <style>
        .step-indicator {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
            gap: 10px;
        }

        .step-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .step {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #e9ecef;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: #6c757d;
            position: relative;
            z-index: 1;
        }

        .step-label {
            font-size: 0.85rem;
            margin-top: 6px;
            text-align: center;
            color: #6c757d;
            min-width: 90px;
        }

        .step.active {
            background-color: #0d6efd;
            color: white;
        }

        .step.completed {
            background-color: #198754;
            color: white;
        }

        .step-connector {
            width: 100px;
            height: 2px;
            background-color: #e9ecef;
            margin-top: 17px;
            z-index: 0;
        }

        .step-connector.active {
            background-color: #0d6efd;
        }
    </style>
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app-dark.css">
</head>

<body>

    <div id="app">
        <div id="header"></div>
        <script type="module" src="http://localhost/CO3049_assignment/public/components/header.js"></script>
        <main class="page-content container-lg h-100">
            <section class="col">
                <div class="step-indicator mb-4">
                    <div class="step-container">
                        <div class="step active">1</div>
                        <div class="step-label">Chọn ghế</div>
                    </div>
                    <div class="step-connector"></div>
                    <div class="step-container">
                        <div class="step">2</div>
                        <div class="step-label">Chọn bắp nước</div>
                    </div>
                    <div class="step-connector"></div>
                    <div class="step-container">
                        <div class="step">3</div>
                        <div class="step-label">Nhập thông tin</div>
                    </div>
                    <div class="step-connector"></div>
                    <div class="step-container">
                        <div class="step">4</div>
                        <div class="step-label">Thanh toán</div>
                    </div>
                </div>

            </section>
            <section class="row">
                <div class="col-lg-8 mb-5">
                    <div id="seatPage">
                        <div id="seatDisplay">
                            <div class="navbar">
                                <div class="seat standard"></div> <span class="ms-2">Standard</span>
                                <div class="seat vip"></div> <span class="ms-2">VIP</span>
                                <div class="seat couple"></div> <span class="ms-2">Couple</span>
                                <div class="seat maintenance"></div> <span class="ms-2">Maintenance</span>
                            </div>

                            <div class="screen">Màn hình</div>

                            <div id="seat" class="row p-1">

                            </div>

                        </div>
                    </div>
                    <div id="productPage">
                        <div id="productDisplay" class="d-none">
                            <table class="table table-nowrap card-table">
                                <thead>
                                    <tr>
                                        <th>Combo</th>
                                        <th class="text-right">Giá tiền</th>
                                        <th class="text-right">Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Dữ liệu combo sẽ được JS đẩy vào đây -->
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div id="infoPage">
                        <div id="infoDisplay" class="d-none">
                            <div class="container py-5">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-8">

                                        <div class="card shadow">
                                            <div class="card-body p-4">
                                                <div class="step-content" id="step1">
                                                    <h5 class="mb-4">Thông tin thanh toán</h5>
                                                    <form id="paymentForm">
                                                        <!-- Họ và tên -->
                                                        <div class="form-text text-warning">Chúng tôi sẽ gửi thông tin vé qua email của bạn</div>

                                                        <div class="mb-4">
                                                            <label class="form-label">Họ và tên</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">
                                                                    <i class="bi bi-person-fill"></i>
                                                                </span>
                                                                <input type="text" class="form-control" name="name" placeholder="Nhập họ và tên của bạn">
                                                            </div>
                                                        </div>

                                                        <!-- Email -->
                                                        <div class="mb-4">
                                                            <label class="form-label">Địa chỉ email</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">
                                                                    <i class="bi bi-envelope-fill"></i>
                                                                </span>
                                                                <input type="email" name="email" class="form-control" placeholder="Nhập địa chỉ email">
                                                            </div>
                                                        </div>
                                                        <div class="mb-4">
                                                            <div class="form-text text-danger" id="message"></div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card shadow rounded-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title mb-4">
                                <span class="text-primary fw-bold">Booking</span> Information
                            </h5>

                            <div class="row mb-2">
                                <div class="col-4 fw-semibold text-muted">Tên phim:</div>
                                <div class="col-8">
                                    <div id="movieName"></div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 fw-semibold text-muted">Tên rạp:</div>
                                <div class="col-8">
                                    <div id="cinemaName"></div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 fw-semibold text-muted">Phòng:</div>
                                <div class="col-8">
                                    <div id="roomName"></div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 fw-semibold text-muted">Suất:</div>
                                <div class="col-8">
                                    <div id="showtime"></div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 fw-semibold text-muted">Ghế:</div>
                                <div class="col-8">
                                    <div id="seatList"></div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-4 fw-semibold text-muted">Product:</div>
                                <div class="col-8">
                                    <div id="productList"></div>
                                </div>
                            </div>

                            <div class="nav gap-2">
                                <h5 id="countdown" class="fw-bold text-success">5:00</h5>
                                <h5 class="fw-bold text-success">Tổng tiền:
                                    <span id="totalPrice" class="text-danger fw-bold">0</span> VND
                                </h5>
                            </div>
                        </div>

                        <div id="buttonGroup" class="card-footer d-flex justify-content-center gap-3">
                            <button class="btn btn-secondary d-none" id="cancelBooking">Quay lại</button>
                            <button class="btn btn-primary" id="confirmBooking">Tiếp tục</button>
                        </div>
                    </div>

                </div>

            </section>



            <!-- Footer -->
            <div id="footer"></div>
            <script type="module" src="http://localhost/CO3049_assignment/public/components/footer.js"></script>

        </main>


    </div>



    <div id="toggleDark"></div>
    <script type="module" src="http://localhost/CO3049_assignment/public/components/toggleDark.js"></script>

</body>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/compiled/js/app.js" defer></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/static/js/components/dark.js"></script>
<script src="http://localhost/CO3049_assignment/public/assets/pages/main/booking.js" defer></script>

</html>