<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Vé Xem Phim Trực Tuyến - Nhanh Chóng & Tiện Lợi | CinemaHCMUT</title>
    <meta name="description" content="Đặt vé xem phim mới nhất tại rạp yêu thích chỉ trong vài bước. Cập nhật lịch chiếu, trailer, suất chiếu và khuyến mãi mới nhất tại CinemaHCMUT.">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/assets/styles/global.css">

    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app.css">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app-dark.css">


    <script src="http://localhost/CO3049_assignment/public/mazor/assets/static/js/initTheme.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>



    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app-dark.css">
</head>

<body>

    <div id="app">
        <div id="header"></div>
        <script type="module" src="http://localhost/CO3049_assignment/public/components/header.js"></script>

        <main class="page-content container-lg h-100">
            <!-- Poster -->
            <div class="col">
                <div class="card shadow border-0 round-3">
                    <div class="card-body p-0">
                        <div class="swiper" id="displayPoster">
                            <div class="swiper-wrapper">

                            </div>


                            <div class="swiper-pagination"></div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Showing -->
            <div class="col">
                <div class="card shadow border-0 round-3">
                    <div class="card-header">
                        <h1 class="text-center">Phim đang chiếu</h1>
                    </div>
                    <div class="card-body p-0">
                        <div id="displayShowing">
                            <div class="swiper mx-5 mb-5">
                                <div class="swiper-wrapper">
                                </div>
                            </div>


                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Comming -->
            <div class="col">
                <div class="card shadow border-0 round-3">
                    <div class="card-header">
                        <h1 class="text-center">Phim sắp chiếu</h1>
                    </div>
                    <div class="card-body p-0">
                        <div id="displayComing">
                            <div class="swiper mx-5 mb-5">
                                <div class="swiper-wrapper">
                                </div>
                            </div>


                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Deal -->
            <div class="col">
                <div class="card shadow border-0 round-3">
                    <div class="card-header">
                        <h4>Khuyến mãi</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="swiper" id="">
                            <div class="swiper-wrapper">
                            </div>


                            <div class="swiper-pagination"></div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div id="footer"></div>
            <script type="module" src="http://localhost/CO3049_assignment/public/components/footer.js"></script>


        </main>
    </div>




    <div id="toggleDark"></div>
    <script type="module" src="http://localhost/CO3049_assignment/public/components/toggleDark.js"></script>
</body>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/compiled/js/app.js"></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/static/js/components/dark.js"></script>
<script src="http://localhost/CO3049_assignment/public/assets/pages/main/home.js" defer></script>


</html>