<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/assets/styles/global.css">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app.css">


    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app-dark.css">
</head>


<body>

    <div id="app">

        <div id="header"></div>
        <script type="module" src="http://localhost/CO3049_assignment/public/components/header.js"></script>
        <main class="page-content container-lg ">

            <section class="py-5 container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class=" list-group " style="max-width: 350px;">
                                <button type="button" class="list-group-item list-group-item-action active lead my-3" aria-current="true" >
                                  GIỚI THIỆU
                                </button>
                                <button type="button" class="list-group-item list-group-item-action lead my-3">
                                    <a href="http://localhost/CO3049_assignment/public/main/policy">ĐIỀU KHOẢN SỬ DỤNG</a>
                                </button>
                                <button type="button" class="list-group-item list-group-item-action lead my-3">
                                    <a href="http://localhost/CO3049_assignment/public/main/policyprivate">CHÍNH SÁCH BẢO MẬT</a>
                                </button>
                              </div>
                        </div>
                        <div class="col-md-6 offset-md-1">
                            <div class="embed-responsive embed-responsive-16by9 lead">
                                <iframe width="680" height="480" src="https://www.youtube.com/embed/e1ZSLVTZ47M" title="Chào mừng bạn đến với CGV Việt Nam - Introducing CGV Cinemas Vietnam" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                            <p class="lead mt-3">CGV là một trong năm Cụm Rạp Chiếu Phim lớn nhất toàn cầu và CGV Việt Nam là Nhà Phát Hành, nhà quản lý và vận hành Cụm Rạp Chiếu Phim CGV Cinemas lớn nhất tại Việt Nam. Mục tiêu của CGV Việt Nam là trở thành công ty giải trí điển hình, đóng góp cho sự phát triển không ngừng của lĩnh vực điện ảnh Việt Nam nói riêng và công nghiệp văn hóa mang đậm bản sắc Việt Nam nói chung..</p>
                            <p class="lead">CGV Việt Nam hội nhập, hài hòa và góp phần tạo nên khái niệm độc đáo về việc chuyển đổi cụm rạp chiếu phim truyền thống thành tổ hợp văn hóa “Cultureplex”, nơi khán giả không chỉ đến để thưởng thức điện ảnh đa dạng thông qua các công nghệ tiên tiến như SCREENX, IMAX, STARIUM, 4DX, Dolby Atmos, mà còn để thưởng thức ẩm thực hoàn toàn mới và khác biệt với các trải nghiệm dịch vụ chất lượng nhất tại Cụm Rạp Chiếu Phim CGV Cinemas..</p>
                            <p class="lead">CGV Việt Nam hướng sự quan tâm đến phát triển nội tại của công nghiệp văn hóa tại Việt Nam, đồng hành cùng điện ảnh nước nhà. Thông qua những nỗ lực trong việc xây dựng chương trình Nhà biên kịch tài năng, Dự án phim ngắn CJ, Lớp học làm phim TOTO, CGV ArtHouse, phối hợp Học Viện Điện Ảnh Hàn Quốc (KAFA) tổ chức Khóa đào tạo cho các đạo diễn xuất sắc của Dự án phim ngắn CJ,  CGV Việt Nam mong muốn sẽ đồng hành và hỗ trợ phát triển cho các nhà làm phim trẻ tài năng của Việt Nam. Ngoài ra, bằng những nỗ lực của doanh nghiệp, CGV Việt Nam đã và đang phối hợp với các bên liên quan nhằm đưa các tác phẩm điện ảnh có nội hàm và đậm bản sắc Việt Nam tham gia các Liên Hoan Phim Quốc tế uy tín; tài trợ cho các hoạt động Liên Hoan Phim uy tín tổ chức tại Việt Nam như Liên Hoan Phim Quốc tế Hà Nội, Liên Hoan Phim Việt Nam,…</p>
                            <p class="lead">CGV Việt Nam trên hành trình mang điện ảnh đến mọi miền Tổ quốc, cũng tập trung đến đối tượng khán giả ở các khu vực ít có điều kiện tiếp cận với điện ảnh, bằng cách tạo cơ hội để người dân địa phương có thể thưởng thức những tác phẩm điện ảnh chất lượng thông qua các chương trình vì cộng đồng như Trăng cười và Điện ảnh cho mọi người.</p>
                            <p class="lead">CGV Việt Nam cam kết nỗ lực, tiếp tục cuộc hành trình bền bỉ trong việc góp phần xây dựng một nền công nghiệp điện ảnh Việt Nam ngày càng vững mạnh cùng các khách hàng tiềm năng, các nhà làm phim, các đối tác kinh doanh uy tín, và cùng toàn thể xã hội.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Footer -->
            <div id="footer"></div>
            <script type="module" src="http://localhost/CO3049_assignment/public/components/footer.js"></script>

        </main>


    </div>



    <div id="toggleDark"></div>
    <script type="module" src="http://localhost/CO3049_assignment/public/components/toggleDark.js"></script>
    <script>
        
    </script>
</body>

<script src="http://localhost/CO3049_assignment/public/mazor/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/compiled/js/app.js" defer></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/static/js/components/dark.js"></script>
<script src="http://localhost/CO3049_assignment/public/assets/pages/main/about.js" defer></script>

</html>