<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Media</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app.css">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app-dark.css">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/assets/styles/table.css">

    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/iconly.css">


    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app-dark.css">
</head>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/static/js/initTheme.js"></script>
<script src="https://cdn.jsdelivr.net/npm/just-validate@latest/dist/just-validate.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<body>

    <div id="app">
        <div id="sidebar"></div>
        <script type="module" src="http://localhost/CO3049_assignment/public/components/admin/sidebar.js"></script>


        <div id="main" class="">
            <div id="header"></div>
            <script type="module" src="http://localhost/CO3049_assignment/public/components/admin/header.js"></script>


            <div class="page-heading">
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-4 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                                <div class="stats-icon purple mb-2">
                                                    <i class="iconly-boldShow"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                                <h6 class="text-muted font-semibold">Người dùng</h6>
                                                <h6 class="font-extrabold mb-0">112.000</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-4 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                                <div class="stats-icon blue mb-2">
                                                    <i class="iconly-boldProfile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                                <h6 class="text-muted font-semibold">Phim đang chiếu</h6>
                                                <h6 class="font-extrabold mb-0">183.000</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-4 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                                <div class="stats-icon green mb-2">
                                                    <i class="iconly-boldAdd-User"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                                <h6 class="text-muted font-semibold">Phim sắp chiếu</h6>
                                                <h6 class="font-extrabold mb-0">80.000</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-4 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                                <div class="stats-icon red mb-2">
                                                    <i class="iconly-boldBookmark"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                                <h6 class="text-muted font-semibold">Rạp</h6>
                                                <h6 class="font-extrabold mb-0">112</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Doanh thu</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Phim hot</h4>
                                </div>
                                <div class="card-body">
                                    <div id="chart2"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

        </div>





        <div id="mediaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mediaModalLabel">Media Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Nội dung chi tiết media sẽ được thêm vào đây -->
                        <div id="mediaDetails"></div>
                    </div>
                </div>
            </div>
        </div>


        <div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mediaModalLabel">Media Details</h5>
                    </div>
                    <div class="modal-body">
                        <!-- Thêm các trường input cho các thuộc tính -->
                        <div class="mb-3">
                            <div id="img" class="text-center"></div>
                        </div>
                        <form id="updateForm">
                            <div class="mb-3">
                                <label for="id" class="form-label">
                                    ID
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" name="id" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="type" class="form-label">Type</label>
                                <input type="text" class="form-control" name="type" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" name="title">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" name="description">
                            </div>
                            <div class="mb-3">
                                <label for="status" class="form-label">Status</label>
                                <input type="text" class="form-control" name="status">
                            </div>
                            <div class="mb-3">
                                <label for="start_date" class="form-label">Start Date</label>
                                <input type="date" class="form-control" name="start_date">
                            </div>
                            <div class="mb-3">
                                <label for="end_date" class="form-label">End Date</label>
                                <input type="date" class="form-control" name="end_date">
                            </div>
                            <div class="mb-3">
                                <label for="duration" class="form-label">Duration</label>
                                <input type="number" class="form-control" name="duration">
                            </div>
                            <div class="mb-3">
                                <label for="genre" class="form-label">Genre</label>
                                <input type="text" class="form-control" name="genre">
                            </div>
                            <div class="mb-3">
                                <label for="trailer" class="form-label">Trailer</label>
                                <input type="text" class="form-control" name="trailer">
                            </div>
                            <div class="mb-3">
                                <label for="language" class="form-label">Language</label>
                                <input type="text" class="form-control" name="language">
                            </div>
                            <div class="mb-3">
                                <label for="country" class="form-label">Country</label>
                                <input type="text" class="form-control" name="country">
                            </div>
                            <div class="mb-3">
                                <label for="classification" class="form-label">Classification</label>
                                <input type="text" class="form-control" name="classification">
                            </div>
                        </form>
                        <div id="updateMessage" class="text-center mb-3"></div>
                        <button onclick="updateMedia()" class="btn btn-success">Lưu</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Hủy</button>
                    </div>
                </div>
            </div>
        </div>




        <div id="toggleDark"></div>
        <script type="module" src="http://localhost/CO3049_assignment/public/components/toggleDark.js"></script>


</body>


<script src="http://localhost/CO3049_assignment/public/mazor/assets/extensions/apexcharts/apexcharts.min.js"></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/compiled/js/app.js" defer></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/static/js/components/dark.js" defer></script>
<script src="http://localhost/CO3049_assignment/public/assets/pages/admin/home.js" defer></script>

</html>