<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 - Lỗi</title>
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/assets/styles/global.css">

    
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app.css">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/error.css">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app-dark.css">
</head>

<body>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/static/js/initTheme.js"></script>
<div id="error">
    

<div class="error-page container">
    <div class="col-md-8 col-12 offset-md-2">
        <div class="text-center">
            <img class="img-error" src="http://localhost/CO3049_assignment/public/mazor/assets/compiled/svg/error-403.svg" alt="Not Found">
            <h1 class="error-title">Cấm Truy Cập</h1>
            <p class="fs-5 text-gray-600">Bạn không có quyền truy cập vào trang này.</p>

            <a href="http://localhost/CO3049_assignment/public/" class="btn btn-lg btn-outline-primary mt-3">Go Home</a>
        </div>
    </div>
</div>


    </div>
<div id="toggleDark"></div>
<script type="module" src="http://localhost/CO3049_assignment/public/components/toggleDark.js"></script>

</body>

</html>